*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header start*/
.presentation{
    height: 500px;
    width: 100%;
    background: url('../assets/students\ pic.png') no-repeat;
    background-size: cover;
   background-position: center;
}
/* header{
    height: 80px;
} */
header nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
    width: 80px;
    position: relative;
    left: 40px;
}
.logo img{
    height: 100%;
    width: 100%;
}
header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    background-color: black;
    height: 80px;
}
header nav ul li{
    margin-left: -1px;
    padding: 0 15px;
    height: 100%;
    align-items: center;
    display: flex;
    border: 1px solid grey;
    cursor: pointer;
}
header nav ul li:first-child{
    border-bottom-left-radius: 8px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
svg.burger{height: 45px; width: 45px;display: none;cursor: pointer;}
/*Header end*/
/*Explore card start*/
.explore{
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

.explore .container{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 400px;
    border: 1px solid;
}
/*Explore card end*/
/*Filler content start*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex:first-child{
    flex-direction: row-reverse;
}
.content .container{
    width: 50%;
    height: 500px;
    background-color: darkblue;
    color: white;
}
.content .container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.content .container p{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}
/*Filler content end*/
/*Footer start*/
footer{
    width: 100%;
    background-color: rgb(104, 104, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
}
footer label,span{
    display: block;
}
footer .social_block{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
footer .social_block svg{
    height: 50px;
    width: 50px;
}
/*Footer end*/
@media (max-width:690px) {
    .presentation{
        background-position: unset;
    }
    header{
        background-color: #000000;
    }
    header nav ul{
        display: none;
        width: 100%;
        position: absolute;
        top: 75px;
        z-index: 2;
        text-transform: uppercase;
        height: fit-content;
    }
    header nav ul li{
        background-color: black;
        border: none;
        justify-content: center;
        height: 80px;
    }
    svg.burger{
        display: block;
        margin-right: 10px;
    }
    /*Filler content start*/
    .content .container{
        width: 100%;
        height: 350px;
    }
    .flex:first-child{
        flex-direction: column-reverse;
    }
    .flex:last-child{
        flex-direction: column-reverse;
    }
    /*Filler content end*/
}