*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header start*/
/* header{
    height: 80px;
} */
header nav{
    width: 100%;
    background-color: #161616;
    /* background-color: #2c2c2c; */
}
.logo{
    height: 100px;
    position: relative;
    cursor: pointer;
    background-color: white;
    width: 100px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    margin: 0 auto;
}
.logo img{
    height: 100px;
    width: 100px;
}
header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    background-color: #161616;
    height: 80px;
    justify-content: space-evenly;
}
header nav ul li{
    margin-left: -1px;
    padding: 0 15px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
header nav ul li a:hover{
    text-decoration: underline;
}
header nav ul li:first-child{
    border-bottom-left-radius: 8px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}
svg.burger{height: 60px; width: 60px;display: none;cursor: pointer;}
/*Header end*/
/*Licence,Masters,formation start*/
/*title start*/
.title h1{
    font-size: 72px;
    text-align: center;
    margin: 30px 0;
}
/*title end*/
/*p description start*/
section .description{
    padding: 20px 40px;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: 0.03rem;
}
/*p description end*/
/*Programs start*/
.showProgram{
    display: block !important;
}
.programs{
    margin: 100px 0 300px;
}
.programs ul{
    list-style-type: none;
}
.programs li{
    display: block;
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 200px;
    padding: 20px 10px 20px;
    box-sizing: border-box;
}
.program_box{
    cursor: pointer;
    border-bottom: 4px solid darkblue;
}
.program_box h2{
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: normal;
} 
.program_description{
    display: none;
}
/*Programs end*/
/*Licence,Masters,formation end*/
/*Footer start*/
footer{
    width: 100%;
    background-color: #2c2c2c;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
}
footer label, footer span{
    display: block;
}
footer a {
    color: white;
    text-decoration: none;
}
footer .social_block{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
footer .social_block svg{
    height: 50px;
    width: 50px;
    fill: white;
}
/*Footer end*/
@media (max-width:700px) {
    header nav{
        background-color: #000000;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        height: 80px;
        width: 80px;
        position: relative;
        left: 28px;
        cursor: pointer;
        background-color: white;
        border-radius: 50%;
    }
    .logo img{
        height: 100%;width: 100%;
    }
    .menu{
        width: 100%;
        position: absolute;
        top: 90px;
        z-index: 2;
        text-transform: uppercase;
        height: 0;
        overflow: hidden;
        display: block;
    }
    .show{
        /* display: block !important; */
        height: 480px !important;
        transition: height ease .5s;
    }
    header nav ul li{
        background-color: black;
        border: none;
        justify-content: center;
        height: 80px;
    }
    svg.burger{
        display: block;
        margin-right: 10px;
    }
    /*Programs start*/
    .program_box h2{
        font-size: 28px;
    }
    /*Programs end*/
    footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 4rem;
    }
    footer .block{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
