*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.show{
    display: block !important;
    height: 480px !important;
    transition: all .5s;
}
/*Header start*/
.presentation{
    height: 500px;
    width: 100%;
    background: url('../assets/students\ pic.png') no-repeat;
    background-size: cover;
   background-position: center;
}
/* header{
    height: 80px;
} */
header nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 80px;
    width: 80px;
    position: relative;
    left: 40px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}
.logo img{
    height: 100%;
    width: 100%;
}
header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    background-color: black;
    height: 80px;
}
header nav ul li{
    margin-left: -1px;
    padding: 0 15px;
    height: 100%;
    align-items: center;
    display: flex;
    border: 1px solid grey;
    cursor: pointer;
}
header nav ul li a:hover{
    text-decoration: underline;
}
header nav ul li:first-child{
    border-bottom-left-radius: 8px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    height: 100%;
    display: flex;
    align-items: center;
}
svg.burger{height: 45px; width: 45px;display: none;cursor: pointer;}
/*Header end*/
/*Explore card start*/
.explore{
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 30px 20px;
}

.explore .container{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 400px;
    border: 1px solid;
}
/*Explore card end*/
/*Filler content start*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex:first-child{
    flex-direction: row-reverse;
    background-color: darkblue;
    color: white;
}
.flex:first-child h3{
    color: rgb(27,76,208);
}
.flex:last-child{
    background-color: white;
    color: black;
}
.content .container{
    width: 50%;
    height: 500px;
}
.content .container h3{
    text-align: center;
    margin: 20px 0px; 
    font-size: 36px;
}
.content .container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.content .container p{
    display: flex;
    flex-wrap: wrap;
    line-height: 25px;
    letter-spacing: 0.03em;
    padding: 0px 10px;
    font-size: 20px;
    max-height: 435px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content .container p span{
    display: block;
    margin-top: 20px;
}
.content .container a{
    text-decoration: none;
}
.content .container button{
    display: block;
    width: 100px;
    height: 30px;
    font-size: 18px;
    margin: 20px auto;
    color: white;
    background-color: purple;
    cursor: pointer;
}
/*Filler content end*/
/*Temoignages start*/
.temoignages{
    height: 300px;
    background-color: darkblue;
}
/*Temoignage end*/
/*Newsletter start*/
.newsletter{
    height: 270px;
}
.newsletter h3{
    font-size: 36px;
    text-align: center;
    margin: 20px 0;
}
.newsletter_box{
    height: 100px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.newsletter input{
    margin-left: 15px;
    height: 40px;
    width: 80%;
    max-width: 500px;
    font-size: 20px;
    padding: 0 5px;
    border: 1px solid grey;
}
.newsletter button{
    background-color: blueviolet;
    color: white;
    height: 42px;
    padding: 5px;
    width: 20%;
    min-width: 100px;
    font-size: 18px;
    border: 1px solid grey;
    margin-right: 15px;
}
/*Newsletter end*/
/*Footer start*/
footer{
    width: 100%;
    background-color: rgb(104, 104, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
}
footer label, footer span{
    display: block;
}
footer .social_block{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
footer .social_block svg{
    height: 50px;
    width: 50px;
}
/*Footer end*/
@media (max-width:690px) {
    .presentation{
        background-position: unset;
    }
    header{
        background-color: #000000;
    }
    .menu{
        display: none;
        width: 100%;
        position: absolute;
        top: 80px;
        z-index: 2;
        text-transform: uppercase;
        height: 0;
    }
    header nav ul li{
        background-color: black;
        border: none;
        justify-content: center;
        height: 80px;
    }
    svg.burger{
        display: block;
        margin-right: 10px;
    }
    /*Filler content start*/
    .content .container{
        width: 100%;
        height: 350px;
    }
    .flex:first-child{
        flex-direction: column-reverse;
    }
    .flex:last-child{
        flex-direction: column-reverse;
    }
    /*Filler content end*/
    .newsletter h3{
        font-size: 26px;
    }
}
@media (max-width:400px) {
    .newsletter input{
        font-size: 16px;
    }
}