:root{
    --main-color: blue;
    --second-color: cyan;
    --box-shadow: rgb(0 0 0 / 30%) 0px 2px 4px 0px;
    --bg-white: #f2f2f2;
}

*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/*header start*/
.presentation{
    height: 300px;
    width: 100%;
    background: url('assets/students\ pic.webp') no-repeat;
    background-position: center;
    background-size: cover ;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.logo{
    background-color: inherit;
    height: 100px;
    width: 100px;
    position: relative;
    left: 30px;
    cursor: pointer;
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    font-size: 20px;
    color: white;
    margin-right: 20px;
    position: relative;
    right: 30px;
    cursor: pointer;
}
svg.burger{
    height: 45px;
    width: 45px;
    display: none;
    margin-right: 30px;
}
/*header end*/
/*Welcome start*/
.welcome{
    height: fit-content;
    background-color: red;
    color: white;
    text-align: center;
    padding: 30px 20px;
}
/*Welcome end*/
/*Navigation menu start*/
.schools{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit,280px);
    justify-content: space-evenly;
    /* gap: 4.5rem; */
    margin: 0 auto;
    margin-top: 50px;
}
.schools a{
    text-decoration: none;
    color: black;
}
.schools .box{
    box-shadow: var(--box-shadow);
}
.schools .box div{
    text-align: center;
    
}
.schools .box div img{
    height: 40px;
    width: 40px;
}
.schools p{
    padding: 20px;
}
/*Navigation menu end*/
/*About us start*/
.about_us{
    height: fit-content;
    background-color: var(--main-color);
    color: white;
    margin-top: 150px;
    padding: 30px 20px;
}
.about_us h3{
    margin-bottom: 20px;
}

/*About us end*/
/*Founder word start*/
.founder_word{
    background-color: darkblue;
    display: flex;
    width: 100%;
}
.founder_element{
    width: 50%;
}
.founder_element:first-child{
    max-width: 500px;
}
.founder_element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Founder word end*/
/*Footer start*/
footer{
    background-color: rgb(76, 76, 145);
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
footer label,span{
    display: block;
}
/*Socials links start*/
footer .block .social_links{
    display: flex;
}
.social_links svg{
    height: 30px;
    width: 30px;
}

/*Footer end*/
@media (max-width:1000px) {
    .schools{
        grid-template-columns: repeat(1,280px);
        justify-content: center;
        gap:4.5rem;
    }
}
@media (max-width:600px) {
    header ul{
        display: none;
    }
    svg.burger{
        display: block;
    }
}