*{
    margin: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/*Header start*/
header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #eee;
}
header .logo{
    height: 100%;
    width: 100px;
}
header .logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.burger{
    display: none;
}
/*Header end*/
/*Sidebar start*/
.sidebar{
    background-color: #2c2c2c;
    width: 300px;
    height: 100%;
    color: white;
    padding: 20px 0 30px 20px;
}
.sidebar ul{
    list-style-type: none;
    padding: 0;
}
.sidebar li{
    margin-bottom: 40px;
    cursor: pointer;
    font-weight: bold;
}
.sidebar label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebar section{
    padding: 0 0 0 30px;
    margin-top: 20px;
    display: none;
    font-weight: normal;
}
.sidebar div{
    margin: 0 0 20px;
}
svg {
    height: 32px;
    width: 32px;
    fill: white;
    margin-right: 5px;
}
.svg_collapse{
    height: 20px;
    width: 20px;
    transition: all .2s;
} 
.showSection{
    display: block !important;
}
.showSidebar{
    display: block !important;
}
.rotate_svg{
    transform: rotate(-180deg) !important;
}
/*Sidebar end*/
@media (max-width:800px) {
    .burger{
        display: block;
        height: 80px;
        width: 80px;
        fill: black;
        position: absolute;
        left: 30px;
        top: 12px;
        cursor: pointer;
    }
    .sidebar{
        display: none;
        width: 270px;
    }
}