*{
    margin: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
/*Header start*/
header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #eee;
}
header .logo{
    height: 100%;
    width: 100px;
}
header .logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.burger{
    display: none;
}
/*Header end*/
/*Sidebar start*/
.sidebar{
    background-color: #2c2c2c;
    /* width: 300px; */
    display: block;
    width: 300px;
    min-height: 100%;
    color: white;
    overflow: hidden;
    transition: all .4s;
    padding: 20px 0 30px 20px
}
.sidebar ul{
    list-style-type: none;
    padding: 0;
}
.sidebar li{
    margin-bottom: 40px;
    cursor: pointer;
    font-weight: bold;
}
.sidebar label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidebar section{
    padding: 0 0 0 30px;
    margin-top: 20px;
    display: none;
    font-weight: normal;
}
.sidebar div{
    margin: 0 0 20px;
}
svg {
    height: 32px;
    width: 32px;
    fill: white;
    margin-right: 5px;
}
.svg_collapse{
    height: 20px;
    width: 20px;
    transition: all .2s;
} 
.showSection{
    display: block !important;
}
.showSidebar{
    width: 300px !important;
    padding: 20px 0 30px 20px !important;
}
.rotate_svg{
    transform: rotate(-180deg) !important;
}
/*Sidebar end*/
/*section start*/
.userpage{
    min-height: 100%;
    display: flex;
}
.page{
    max-width: 1300px;
    padding: 20px;
    width: 80%;
    min-height: 100%;
}
.page .title{
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.page .container{
    padding: 20px;
}
.page .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page h2{
    margin: 10px 0;
    font-size: 28px;
}
.content{
    width: 100%;
}
/*section end*/
/*Messages start*/
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    gap: 30px;
    justify-content: space-around;
}
.msg_box{
    box-shadow: 0 0 2px 2px rgb(0,0,0,30%);
    cursor: pointer;
}
.msg_box img{
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.msg_box label{
    display: block;
    text-align: center;
}
.msg_box p{
    padding: 5px;
    margin: 8px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.03rem;
}
.msg_box .btn_container{
    height: 40px;
    display: flex;
}
.msg_box .btn_container button{
    width: 50%;
    height: 100%;
}
/*Messages end*/
/*Data box start*/
.data_grid{
    display: flex;
    flex-direction: column;
    margin: 10px 0 30px;
}
.data_grid .container{
    padding: 0;
}
.data_add{
    display: flex;
    background-color: #eee;
    color: black;
    font-size: 40px;
    height: 25px;
    width: 25px;
    padding: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}
.data_box{
    cursor: pointer;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 56px;
    background-color: darkblue;
    color: white;
    position: relative;
    margin-bottom: 20px;
}
.data_box h3{
    max-width: 75%;
}
.data_box span{
    color: white;
    font-size: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
/*Info start*/
.info{
    display: none;
    padding: 0 20px;
}
.info[data-box-active="true"]{
    display: block;
    margin-bottom: 30px;
}
.info h3{
    font-weight: bold;
    margin: 20px 0;
    font-size: 23px;
}
.info img{
    height: 200px;
    width: 100%;
    display: block;
    object-fit: cover;
}
/*Info end*/
.menu{
    display: none;
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: white;
    box-shadow: 0 0 2px 2px rgb(0,0,0,15%);
    color: black;
    padding: 8px;
    text-align: start;
    z-index: 2;
}
.menu[data-menu-active="true"]{
    display: block;
}
.menu div{
    margin-bottom: 8px;
}
/*Data box end*/
/*Form application start*/

/*Form application end*/
@media (max-width:800px) {
    .burger{
        display: block;
        height: 80px;
        width: 80px;
        fill: black;
        position: absolute;
        left: 30px;
        top: 12px;
        cursor: pointer;
    }
    .sidebar{
        width: 0;
        position: absolute;
        padding: 0;
        z-index: 3;
    }
    .showSidebar{
        width: 270px !important;
    }
    .page{
        width: 80%;
        margin: 0 auto;
    }
}