:root{
    --title-blue : #0658bf;
    --table-border: 2px solid;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
/*header start*/
.show{
    /* display: block !important; */
    left: 0 !important;
    transition: all .5s;
}
.header_content{
    max-height: 600px;
}
header{
    background-color: #01509d;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 0;
}

.logo img{
    height: 100px;
    width: 100px
}
.menu{
    list-style-type: none;
    margin: 0;
    display: flex;
    margin-right: 30px;
}
.menu li{
    margin-left: 20px;
}
.menu li a{
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.menu li a:hover{
    text-decoration: underline;
}
.burger{
    height: 80px;
    width: 80px;
    display: none;
    cursor: pointer;
}
/*header end*/
/*Title start*/
.title{
    font-size: 36px;
    margin: 20px 0 20px;
    color: var(--title-blue);
    text-align: center;
} 
.underline{
    height: 4px;
    width: 50px;
    margin: 0 auto;
    background-color: var(--title-blue);
    position: relative;
    top: -14px;
}
/*Title end*/
/*Content start*/
.content{
    text-align: center;
    padding: 20px;
}
.content p{
    line-height: 22px;
    letter-spacing: 0.03rem;
    font-size: 18px;
    padding: 18px;
}
/*Content end*/
/*Contact start*/
.contact_content{
    background-color: #eee;
    padding: 20px 20px 80px;
}
.contact{
    display: flex;
    justify-content: space-between;
}
.contact img{
    cursor: pointer;
}
.contact_content form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 440px;
}
.contact_content input,textarea,button{
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact_content button{
    background-color: royalblue;
    border: none;
    color: white;
}
/*Contact end*/
/*Footer start*/
footer{
    /* background-color: #044383; */
    background-color: #2c2c2c;
    min-height: 350px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 0;
    text-align: center;
}
footer .block{
    color: white;
    margin-left: 20px;
}
footer .block h3{
    font-size: 22px;
}
footer .block span{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}
footer .block img{
    height: 120px;
    width: 120px;
}

footer .social_block{
    display: flex;
    justify-content: center;
    gap: 40px;
}
footer .svg_container{
    border-radius: 7px;
    height: 50px;
    width: 50px;
}
footer svg{
    fill: white;
}

/*Footer end*/
@media (max-width:950px) {
    footer .block{
        width: 90%;
        margin: 12px auto;
    }
    footer .block:first-child{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer .block .social_block{
        width: 100%;
        margin-top: 20px;
    }
    .contact{
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:700px) {
    header nav{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .menu{
        display: block;
        height: 300px;
        position: absolute;
        top: 100px;
        left: -100%;
        background-color: #01509d;
        width: 100%;
        transition: all .5s;
        z-index: 3;
    }
    .menu li{
        margin-top: 30px ;
    }
    .menu li a {
        color: white;
        justify-content: center;
    }
    .logo{
        position: relative;
        left: 40px;
    }
    .burger{
        display: block;
        margin-right: 10px;
    }
    /*Contact start*/
    .contact_content form{
        width: 360px;
        box-sizing: border-box;
    }
    .contact img{
        width: 360px;
        object-fit: cover;
    }
    /*Contact end*/
}
@media (max-width:400px) {
    .contact form{
        width: 300px;
    }
    .contact img{
        width: 260px;
    }
}